body {
  margin: 0;
  padding: 0;
}
@media (min-width: 1280px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

li {
  display: inline-block;
  list-style: none;
}
img {
  -webkit-user-drag: none;
}
p {
  margin-block: 0;
}

/** 글씨체 **/
/* ENG */
@font-face {
  font-family: CircularStd; /* 400 */
  src: url("./assets/fonts/eng/CircularStd-Book.otf") format("opentype");
}
@font-face {
  font-family: CircularStd-Medium; /* 500 */
  src: url("./assets/fonts/eng/CircularStd-Medium.otf") format("opentype");
}
@font-face {
  font-family: CircularStd-Bold;
  src: url("./assets/fonts/eng/CircularStd-Bold.otf") format("opentype");
}

.eng {
  font-family: "CircularStd";
  color: #ffffff;
}
.eng-500 {
  font-family: "CircularStd-Medium";
  color: #ffffff;
}
.eng-bold {
  font-family: "CircularStd-Bold";
  color: #ffffff;
}

/* KOR */
@font-face {
  font-family: Pretendard-Light; /* 300 */
  src: url("./assets/fonts/kor/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: Pretendard; /* 400 */
  src: url("./assets/fonts/kor/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: Pretendard-Medium; /* 500 */
  src: url("./assets/fonts/kor/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: Pretendard-Bold; /* 700 */
  src: url("./assets/fonts/kor/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: Pretendard-ExtraBold; /* 800 */
  src: url("./assets/fonts/kor/Pretendard-ExtraBold.otf") format("opentype");
}

.kor-300 {
  font-family: "Pretendard-Light";
  color: #ffffff;
}
.kor {
  font-family: "Pretendard";
  color: #ffffff;
}
.kor-500 {
  font-family: "Pretendard-Medium";
  color: #ffffff;
}
.kor-700 {
  font-family: "Pretendard-Bold";
  color: #ffffff;
}
.kor-800 {
  font-family: "Pretendard-ExtraBold";
  color: #ffffff;
}

/** 페이지 컨텐츠 **/
.youtube-container {
  display: flex;
}

#youtube {
  min-height: 650px;
}
@media (max-width: 992px) {
  #youtube {
    min-height: 500px;
  }
}

#container {
  max-width: 1280px; /* Web 기준 */
  min-width: 850px;
}

#main {
  background: linear-gradient(180deg, #fc5b9f 59.27%, #000000 87.57%);
}

.middle {
  padding: 80px;
}

.bottom-line {
  margin-block: 30px;
  border-bottom: 2px solid #ffffff;
}

/** byebye **/
#bye {
  display: flex;
  height: 25em;
}
#bye img {
  display: inherit;
  flex-direction: column;
  column-gap: 0;
  max-height: 900px;
  overflow: hidden;
}
@media (max-width: 992px) {
  #bye {
    height: 35em;
  }
}

/* byebye - 슬라이드 */
.slide-wrap {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.slide-wrap .img-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}
.slide-wrap .img-slide.original {
  animation: 30s linear 0s infinite normal forwards running slide01;
}
.slide-wrap .img-slide.clone {
  animation: 30s linear 0s infinite normal none running slide02;
}

/* 슬라이드 - 원본용 */
@keyframes slide01 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* 슬라이드 - 복제용 */
@keyframes slide02 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

/** 실태 정보 **/
.current-status {
  margin-bottom: 150px;
  letter-spacing: 0em;
  text-align: left;
}

.underline-title {
  font-size: 38px;
  line-height: 48px;
  border-bottom: 1px solid #ffffff;
  width: fit-content;
}

.number {
  font-size: 200px;
  line-height: 252.67px;
  padding-bottom: 10px;
}
@media (max-width: 992px) {
  .number {
    font-size: 150px;
    line-height: 180px;
  }
}

/** 화성 번식장 **/
.hs-title {
  padding-top: 400px;
  display: flex;
  justify-content: center;
}

/* .hs-title p {  margin-block: 0;  font-size: 79px;  line-height: 102.7px;  text-align: center;}
@media (max-width: 992px) {
  .hs-title { padding-top: 200px;  }
  .hs-title p { margin-block: 0;    font-size: 62px;    line-height: 80px;    text-align: center;  }
} */

#hwasung {
  padding-top: 500px;
  background: linear-gradient(180deg, #000000 100%, rgba(0, 0, 0, 0) 33.73%);
}

.hs-img-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: -15px;
}
.hs-img-1 img:first-child {
  width: 100%;
  max-width: 1280px;
  position: absolute;
}
.hs-img-1 img:nth-child(2) {
  float: left;
  position: relative;
}
.hs-img-2 {
  margin-top: -2.5px;
}
.hs-img-3,
.hs-img-4 {
  margin-top: -5px;
}
.hs-img-2 > img,
.hs-img-3 > img,
.hs-img-4 > img {
  width: 100%;
}

.hs-video {
  max-width: 1280px;
  margin-top: -5px;
}
.hs-video video {
  width: 100%;
  max-width: 1280px;
  min-width: 850px;
}

@media (max-width: 992px) {
  #hwasung {
    padding-top: 300px;
    background: linear-gradient(180deg, #000000 100%, rgba(0, 0, 0, 0) 33.73%);
    margin-top: -3px;
  }

  .hs-img-1 img:first-child {
    min-width: 850px;
    position: absolute;
  }
  .hs-img-1 img:nth-child(2) {
    float: left;
    position: relative;
    margin-top: -3px;
  }
}

/** 부모견 이야기 **/
.m-start {
  background: #ffd340;
  padding-top: 100px;
  padding-bottom: 150px;
}

.m-photo img {
  width: 100%;
  margin-block: -3px;
}

.mom-title {
  line-height: 173.24px;
  font-size: 122px;
}
@media (max-width: 992px) {
  .mom-title {
    line-height: 103.24px;
    font-size: 80px;
    padding-top: 25px;
    padding-bottom: 15px;
  }
}

.end {
  background: linear-gradient(180deg, #ffc1b7 18.23%, #d5ff2f 84.37%);
  margin-top: -3px;
  padding-top: 15px;
}

/** Footer **/
.footer {
  padding-block: 60px;
}

#footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 45px;
  padding-top: 70px;
}

.weact-logo {
  width: 192px;
  height: 112px;
}

#people p {
  margin-block: 0;
  letter-spacing: 0em;
  text-align: center;
}

#sns-links {
  display: flex;
  column-gap: 40px;
  padding-block: 20px;
}
#sns-links img {
  width: 56.81px;
  height: 56.98px;
}

#facebook {
  margin-left: -15px;
}

.ci-logo {
  width: 795px;
  height: 166px;
}

.copyright {
  margin-block: 0;
  font-size: 34px;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 992px) {
  .weact-logo {
    width: 152px;
    height: 72px;
  }

  #sns-links {
    display: flex;
    column-gap: 30px;
    padding-block: 15px;
  }
  #sns-links img {
    width: 42.81px;
    height: 42.98px;
  }

  #facebook {
    margin-left: -10px;
  }

  .ci-logo {
    width: 580px;
    height: 100px;
  }

  .copyright {
    margin-block: 0;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }
}

/** 카페24 **/
/* font */
.font10 {
  font-size: 1em;
  line-height: 1.4;
}
.font6 {
  font-size: 0.8em;
  line-height: 1.9;
}
.font5 {
  font-size: 1.4em;
  line-height: 1.1;
}
.font4 {
  font-size: 2em;
  line-height: 1.1;
}
.font3 {
  font-size: 3em;
  line-height: 1.4;
}
.font2 {
  font-size: 3.8em;
  line-height: 1.4;
}
.font1 {
  font-size: 4.6em;
  line-height: 1.3;
}
.font0 {
  font-size: 5em;
  line-height: 1.2;
}
.small {
  font-size: 16px;
}

@media all and (min-width: 769px) {
  .container-fluid .row > div {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 992px) {
  .font1 {
    font-size: 2.8em;
  }
  .font2 {
    font-size: 2.6em;
  }
  .font3 {
    font-size: 1.9em;
    line-height: 1.2;
  }
  .font4 {
    font-size: 1.4em;
  }
  .font5 {
    font-size: 1.2em;
  }

  footer .fText-right,
  footer .fText-center {
    text-align: left;
  }
}

@media (max-width: 768px) {
  #contents {
    padding-top: 40px;
  }
  #aside .container {
    padding-top: 50px;
  }
  #titleArea h2 {
    margin-bottom: 20px;
  }
  .font1 {
    font-size: 2.4em;
  }
  .brderR {
    border-radius: 20px;
  }
  header .logo {
    height: 46px;
    width: 70px;
    top: 35px;
    left: 10px;
  }
  header .logo_color {
    height: 46px;
    width: 70px;
    top: 25px;
    left: 25px;
  }
  header.inverted .logo {
    left: 35px;
  }
  header.inverted .logo_color {
    left: 0px;
  }
  header .headerMenu {
    height: 40px;
    right: 0px;
  }
  .gnbMenu a {
    font-size: 2.4em;
  }
  .gnbOpen .logo {
    left: 35px;
  }
  .gnbOpen .closebtn {
    top: 15px;
    right: 20px;
  }
}
